<head>
<title>MfD - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-earthly.css" type="text/css">
</head>

<body>
  <nav>
    <h1>Marked for death wiki</h1>
    <nav>
      {{request.user}} | 
      <a target="_blank" href="https://forums.sufficientvelocity.com/threads/marked-for-death-a-rational-naruto-quest.24481/">
        discussion
      </a> |
      <a target="_blank" href="https://forums.sufficientvelocity.com/threads/marked-for-death-a-rational-naruto-quest.24481/reader">
        story only
      </a> |
      <a href="/wiki/">wiki</a> |
      {% if user.is_authenticated %}
{#        <a href="/profile/{{request.user.pk}}/">profile</a> | #}
{#        <a href="/messages/">messages</a> | #}
        <a href="/logout/?next={{request.path|urlencode}}">logout</a> 
      {% else %}
        <a href="/signup/?{{request.GET.urlencode}}">signup</a> |
        <a href="/login/?{{request.GET.urlencode}}">login</a>
      {% endif %}
    </nav>
    <hr>
  </nav>

{% block content %}
{% endblock %}
<footer>
  <hr>
  <nav>
    <a href="https://github.com/traverseda/MfD-wiki">github</a>|
    <a href="/wiki/support">support MfD</a>
  </nav>

</footer>

</body>
